html,
body,
#root,
.App {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #282c34;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.App {
	font-size: calc(10px + 2vmin);
	flex-direction: column;
	color: white;
	display: flex;
}

#bottom {
	align-self: flex-end;
	margin-bottom: 5px;
	width: 100%;
}

div {
	white-space: pre-wrap;
}

.FieldView {
	width: 100%;
	display: flex;
	height: inherit;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.FieldView canvas {
	width: 95%;
	height: 100%;
}

.AppListView {
	height: 22vh;
	margin-top: 5px;
	overflow-y: auto;
}

.AppListView .btn,
.AppListView .input-group-text {
	height: calc(1.5em + 0.75rem + 2px);
}

.AppListView .form-control,
.AppListView .input-group-prepend {
	display: flex;
	align-self: center;
}

.SettingsBody {
	height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(128, 128, 128, 0.5);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(128, 128, 128);
}

.dropdown-toggle:focus {
	outline: none;
	box-shadow: none;
}
